#discover {
    margin: 10px auto;
}
#discover .box {
    background-color: var(--parple);
    color: #fff;
    padding: 25px;
    display: flex;
    transition: 0.3s;
}
#discover .content {
    margin: auto;
    align-content: center;
    align-items: center;
}
#discover img {
    width: 100%;
}
#discover .img {
    padding: 0; 
}
#discover h2 {
    margin-left: 10px;
}
.btn-discover {
    padding: 15px 35px;
    text-transform: uppercase;
    font-size: 18px;
    background-color: #fff;
    color: var(--parple);
    border-radius: 5px;
    margin: auto;
    transition: 0.3s;
}
/* #discover .row:hover .box {
    color: var(--parple);
    background-color: #fff;
} */
#discover .btn-discover:hover  {
    color: #fff;
    background-color: var(--parple-o);
    border: 1px solid #fff;
}