#keyword {
    border-bottom: 3px solid #000;
}
#keyword p {
    max-width: 130px;
    margin: auto;
    text-align: center;
    font-size: 18px;
}
i.icon {
    color: var(--parple);
}
.icon-box {
    padding: 20px 10px;
}